.headerdesc {
  color: #150f37;
  max-width: 805px;
}

.headerdesc__body {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.headerdesc__title {
  font-weight: 800;
  font-size: 77px;
  text-transform: uppercase;
}

.headerdesc__title span {
  color: #e22675;
  font-size: 69px;
}

.headerdesc__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 26.88px;
}

.headerdesc__button {
  padding: 12px 60px;
  background-color: #e33a88;
  border-radius: 19px;
  max-width: 293px;

  line-height: 36px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.headerdesc__button:hover {
  background-color: #ec4e90;
}

.headerimgs__h2 {
  z-index: 2;
  position: absolute;
  bottom: 200px;
  left: 650px;
}

@media (max-width: 1400px) {
  .headerdesc__title {
    font-size: 70px;
  }

  .headerdesc__title span {
    font-size: 64px;
  }

  .headerimgs__h2 {
    height: 100px;
    bottom: 350px;
    left: 550px;
  }
}

@media (max-width: 1270px) {
  .headerdesc__title {
    font-size: 65px;
  }

  .headerdesc__title span {
    font-size: 59px;
  }
}

@media (max-width: 1140px) {
  .headerdesc__title {
    font-size: 55px;
  }

  .headerdesc__title span {
    font-size: 50px;
  }
}

@media (max-width: 1050px) {
  .headerimgs__h2 {
    display: none;
  }
  .headerdesc__title {
    font-size: 70px;
  }

  .headerdesc__title span {
    font-size: 65px;
  }

  .headerdesc__text {
    font-size: 16px;
  }

  .headerdesc__button {
    font-size: 17px;
  }
}

@media (max-width: 650px) {
  .headerdesc__title {
    font-size: 62px;
  }

  .headerdesc__title span {
    font-size: 55px;
  }

  .headerdesc__text {
    font-size: 16px;
  }

  .headerdesc__button {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .headerdesc__title {
    font-size: 42px;
  }

  .headerdesc__title span {
    font-size: 37px;
  }

  .headerdesc__text {
    font-size: 16px;
  }

  .headerdesc__button {
    font-size: 17px;
  }
}