.sectiontwo__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 100px 0px;
}

.sectiontwo__desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectiontwo__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
}

.sectiontwo__subtitle {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.sectiontwo__text {
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
}

@media (max-width: 1153px) {
  .sectiontwo__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px 0px;
  }

  .sectiontwo__image img {
    max-width: 500px;
  }
}
