.navigation__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 15px;
    font-weight: 700;
}

.navigation__logo{
    font-size: 20px;
}

.navigation__nav .nav__list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation__nav .nav__list .nav__button{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: rgb(231, 65, 65);
    padding: 15px 50px;
    border-radius: 6px;
    cursor: pointer;
    z-index: 2;
}