.headerdesc {
  color: #150f37;
  max-width: 805px;
}

.headerdesc__body {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.headerdesc__title {
  font-weight: 800;
  font-size: 77px;
  text-transform: uppercase;
}

.headerdesc__title span {
  color: #e22675;
  font-size: 69px;
}

.headerdesc__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 26.88px;
}

.headerdesc__button {
  padding: 12px 60px;
  background-color: #e33a88;
  border-radius: 19px;
  max-width: 293px;

  line-height: 36px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.headerimgs__h2 {
  z-index: 2;
  position: absolute;
  bottom: 200px;
  left: 650px;
}

@media (max-width: 1400px) {
  .headerdesc__title {
    font-size: 70px;
  }

  .headerdesc__title span {
    font-size: 64px;
  }

  .headerimgs__h2 {
    height: 100px;
    bottom: 350px;
    left: 550px;
  }
}

@media (max-width: 1270px) {
  .headerdesc__title {
    font-size: 65px;
  }

  .headerdesc__title span {
    font-size: 59px;
  }
}

@media (max-width: 1140px) {
  .headerdesc__title {
    font-size: 55px;
  }

  .headerdesc__title span {
    font-size: 50px;
  }
  .headerimgs__h2 {
    height: 100px;
    bottom: 380px;
    left: 450px;
  }
}

@media (max-width: 1035px) {
  .headerdesc__title {
    font-size: 40px;
  }

  .headerdesc__title span {
    font-size: 35px;
  }

  .headerdesc__text {
    font-size: 13px;
  }

  .headerdesc__button {
    padding: 10px 30px;
    border-radius: 19px;
    max-width: 293px;
    font-size: 17px;
  }
  .headerimgs__h2 {
    height: 100px;
    bottom: 380px;
    left: 350px;
  }
}

@media (max-width: 885px) {
  .headerimgs {
    z-index: 999;
  }
  .headerimgs__h2 {
   display: none;
  }
}