.header {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 975px;

  background: radial-gradient(
      circle at left top,
      #f74dca 0%,
      rgba(191, 9, 255, 0) 32%
    )
    no-repeat;
}

.header__body {
  padding-top: 20px;
}

.header__content {
  padding-top: 110px;
  display: flex;
}