::-webkit-scrollbar {
	width: 4px;
	height: 4px;

	&-track {
		background: #000000;
	}

	&-thumb {
		background: #7b53f5;
		border-radius: 10px;
	}
}

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

* {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}
.container {
	width: 100%;
	max-width: 1400px;
	padding: 0px 15px;
	margin: 0 auto;
}

:root {
	--red: #ec3025;
	--purple-shadow: #7b53f5d9;
	--error-shadow: #f57165d9;
	--light-slate: #a8b2d1;
	--light-navy: #240046;
	--lightest-navy: #2f2354;
	--lightest-slate: #eef2ff;
	--navy: #0a192f;
	--navy-shadow: #020c1bb3;
	--slate: #99a3c0;
	--white: #fff;
	--black: #222222;
	--border-radius: 4px;
	--transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
